@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <link href="../Scripts/bootstrap-3.3.4-dist/css/bootstrap.min.css?<%=Date.Now.ToFileTimeUtc%>" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif;
        }
    </style>
</head>

<div class="w3-col l8 s12">
    <div class="w3-card-4 w3-margin w3-white">
        <img src="../image/woods.jpg" alt="Nature" style="width:100%" />
        <div class="w3-container">
            <h3><b>My personal experience</b></h3>
            <h5><span class="w3-opacity">Hospital Job Since, April 12, 2016</span></h5>
        </div>

        <div class="w3-container">
            <p>
                Hello, my name is Vivian and specialize in software programming. I graduated from TCU. My major is Medical Information.like to help people. Also I am a good team-player. I like to cooperate with other people and I am good at communicating ideas.

                I have been with the company for 4 years.The work I need to on call to let system work successfully. I like to learn new technology and sharing what I have learned with them. At the beginning I used VB.net and ASP.net (jquery +html +bootstrap +linq) to develop from the web page. Later I used C# and a card reader to develop some WebAPI project. At work I need to help my user to figure out the best way to get what they truely need and work seriously. After further discussion, I developed programs and tested the program with the users to confirm the functions.

                Because I like to learn new technology and share what I have learned with others, I am a project developer in the office to help supervisor developing new functions and technologies.

                This website is my window where you can find more about me , thank you for reading.
            </p>
            <div class="w3-row">
                <div class="w3-col m8 s12">
                    <p><button class="w3-button w3-padding-large w3-white w3-border"><a href="Home/About"><b>READ MORE »</b></a></button></p>

                </div>
                <div class="w3-col m4 w3-hide-small">
                    <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
    <div class="w3-card w3-margin w3-margin-top">
        <img src="../image/avatar_g.jpg" style="width:100%" />
        <div class="w3-container w3-white">
            <h4><b>My Name</b></h4>
            <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
        </div>
    </div>

    <!-- Posts -->
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4>Popular Posts</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
            <li class="w3-padding-16">
                <img src="../image/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px" />
                <span class="w3-large">Ipsum</span><br />
                <span>Praes tinci sed</span>
            </li>
            <li class="w3-padding-16">
                <img src="../image/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px" />
                <span class="w3-large">Dorum</span><br />
                <span>Ultricies congue</span>
            </li>

        </ul>
    </div>
</div>
<br />
<br />
<div class="w3-col">
    <div class=" w3-card-4 w3-margin w3-container">
        <div class="container">
            <h2>Media Object</h2>
            <p>The media object can also be top, middle or bottom-aligned with the "media-top", "media-middle" or "media-bottom" class:</p><br>
            <div class="media">
                <div class="media-left media-top">
                    <img src="../image/img_avatar1.png" class="media-object" style="width:80px" />
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media Top</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <hr>
            <div class="media">
                <div class="media-left media-bottom">
                    <img src="../image/img_avatar1.png" class="media-object" style="width:80px" />
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media Bottom</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>
<br />
<br />

